	@import url('https://themes.googleusercontent.com/fonts/css?kit=chteh0fSOiSrmusp8u43YABE3cQJfIObR6poRzetMS3oEPkLX0LKzlZul7Zr7TG2');
			ol {
				margin: 0;
				padding: 0
			}
			.c12 {
				color: #f6b26b;
				font-size: 18pt;
				font-style: italic;
				background-color: #ffffff;
				font-family: "Consolas"
			}
			.c19 {
				color: #f6b26b;
				font-size: 18pt;
				font-style: italic;
				font-family: "Consolas";
				font-weight: bold
			}
			.c26 {
				color: #b02b2c;
				font-size: 12pt;
				background-color: #ffffff;
				font-family: "Open Sans"
			}
			.c28 {
				color: #f6b26b;
				font-size: 18pt;
				font-family: "Consolas";
				font-weight: bold
			}
			.c7 {
				color: #0b5394;
				font-size: 14pt;
				font-style: italic;
				font-family: "Open Sans"
			}
			.c34 {
				color: #980000;
				font-size: 12pt;
				font-weight: bold
			}
			.c17 {
				list-style-type: circle;
				margin: 0;
				padding: 0
			}
			.c2 {
				list-style-type: disc;
				margin: 0;
				padding: 0
			}
			.c30 {
				color: #b02b2c;
				font-size: 12pt;
				font-family: "Open Sans"
			}
			.c0 {
				line-height: 1.5;
				height: 11pt;
				direction: ltr
			}
			.c9 {
				padding-left: 0pt;
				direction: ltr;
				margin-left: 72pt
			}
			.c42 {
				max-width: 468pt;
				background-color: #ffffff;
				padding: 72pt 72pt 72pt 72pt
			}
			.c33 {
				color: #f6b26b;
				font-family: "Consolas"
			}
			.c22 {
				color: inherit;
				text-decoration: inherit
			}
			.c4 {
				color: #38761d;
				font-style: italic
			}
			.c18 {
				color: #3c78d8;
				font-style: italic
			}
			.c11 {
				padding-left: 0pt;
				line-height: 1.5
			}
			.c27 {
				color: #a61c00;
				font-weight: bold
			}
			.c3 {
				height: 11pt;
				direction: ltr
			}
			.c16 {
				text-align: justify
			}
			.c14 {
				padding-left: 0pt
			}
			.c20 {
				line-height: 1.5
			}
			.c5 {
				text-align: center
			}
			.c37 {
				color: #3c78d8
			}
			.c10 {
				direction: ltr
			}
			.c21 {
				font-style: italic
			}
			.c32 {
				color: #cccccc
			}
			.c6 {
				margin-left: 36pt
			}
			.c8 {
				color: #741b47
			}
			.c35 {
				color: #1155cc
			}
			.c39 {
				color: #980000
			}
			.c31 {
				color: #a61c00
			}
			.c40 {
				color: #85200c
			}
			.c13 {
				font-size: 36pt
			}
			.c23 {
				text-indent: 36pt
			}
			.c36 {
				font-size: 14pt
			}
			.c24 {
				text-decoration: underline
			}
			.c25 {
				color: #999999
			}
			.c29 {
				font-size: 18pt
			}
			.c41 {
				font-size: 12pt
			}
			.c15 {
				line-height: 1.0
			}
			.c1 {
				font-family: "Ubuntu"
			}
			.c38 {
				font-weight: bold
			}
			.title {
				padding-top: 24pt;
				line-height: 1.15;
				text-align: left;
				color: #000000;
				font-size: 36pt;
				font-family: "Arial";
				font-weight: bold;
				padding-bottom: 6pt
			}
			.subtitle {
				padding-top: 18pt;
				line-height: 1.15;
				text-align: left;
				color: #666666;
				font-style: italic;
				font-size: 24pt;
				font-family: "Georgia";
				padding-bottom: 4pt
			}
			p {
				color: #000000;
				font-size: 11pt;
				margin: 0;
				font-family: "Arial"
			}
			h1 {
				padding-top: 24pt;
				line-height: 1.15;
				text-align: left;
				color: #000000;
				font-size: 18pt;
				font-family: "Arial";
				font-weight: bold;
				padding-bottom: 6pt
			}
			h2 {
				padding-top: 18pt;
				line-height: 1.15;
				text-align: left;
				color: #000000;
				font-size: 14pt;
				font-family: "Arial";
				font-weight: bold;
				padding-bottom: 4pt
			}
			h3 {
				padding-top: 14pt;
				line-height: 1.15;
				text-align: left;
				color: #666666;
				font-size: 12pt;
				font-family: "Arial";
				font-weight: bold;
				padding-bottom: 4pt
			}
			h4 {
				padding-top: 12pt;
				line-height: 1.15;
				text-align: left;
				color: #666666;
				font-style: italic;
				font-size: 11pt;
				font-family: "Arial";
				padding-bottom: 2pt
			}
			h5 {
				padding-top: 11pt;
				line-height: 1.15;
				text-align: left;
				color: #666666;
				font-size: 10pt;
				font-family: "Arial";
				font-weight: bold;
				padding-bottom: 2pt
			}
			h6 {
				padding-top: 10pt;
				line-height: 1.15;
				text-align: left;
				color: #666666;
				font-style: italic;
				font-size: 10pt;
				font-family: "Arial";
				padding-bottom: 2pt
			}